<!DOCTYPE html>
<html>
<head>
  <title>Enterpriseape</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- create links using lines below link_to "NAME", location-->
  
  <%= link_to "Home", root_path %> 
  <%= link_to "About Us", welcome_about_path%> 
  <%= link_to "Contact", welcome_contact_path %> 
  <%= link_to "Features", welcome_features_path %> 
  <%= link_to "FAQs", welcome_faqs_path %> 
  <%= link_to "Pricing", welcome_pricing_path %>
  <%= link_to "Invoices", invoices_path%> 
  <%= link_to "Login", root_path %> 

<%= yield %>

  <%= simple_format "-----------------\n" %>
  
  <%= simple_format "Hi, I'm John. This is a site I'm creating as part of a web development course.\n" %>
  
  <%= simple_format "  I'm really an iOS dev trying to learn web devleopment using Ruby on Rails.\n" %>
  
  Check out my latest iOS app here: <%= link_to "Pxture", "http://pxture.it/get-it"%> 
  
</body>
</html>
